<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Publicações</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome Produto</th>
          <th>Preçp</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let publicacao of publicacoes | async">
          <td>{{publicacao.titulo}}</td>
          <td>{{publicacao.doi}}</td>
          <td>{{publicacao.nomeAutor}}</td>
          <td>
		  <button (click)="publicacaoDetails(publicacao.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
		  <button (click)="updateproduto(publicacao.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
		  <button (click)="deleteproduto(publicacao.id)" class="btn btn-danger">Delete</button>
          
              
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

